<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/indexCss.css">
        <script>

        </script>
    </head>

    <body>

        <div class="icon-bar">
            <ul>

                <li><a href="login.html"><img src="images/user.png" id="topimage1" ></a></li>
                <li><img src="images/shopcart.png" id="topimage1"></li>
                <li id="topimage2">
                    <font size="5"><b>" Shalala "</b></font>
                </li>
            </ul>
        </div>

        <div class="hero-image">
            
        </div>
        <br>
        <div class="topnav">
            <input type="text" name="search" placeholder="Search...">
        </div>
        <br>
        <div class="card">
            <img src="images/product1.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Tailored Jeans</h1>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                jeansum.</p>
            <a href="productdetail.html"><button>Add to Cart</button></a>
        </div>
    </body>
</html>
