<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmnls:th="http://thymeleaf.org">

    <head>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>SHA LALA Homepage</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <base href="/" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <style> 
            body, html {
                height: 100%;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
                background-color: white;
                text-align: center;
                margin-top: 100px;
            }
            #shopname{
                font-size: 80px;
                color: green;
            }
        </style>
    </head>
    <body>
        <div>
            <span id="shopname">(GUN) <B>Sha</b>lala</span>
        </div>
        <br>
            <!--               <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false">
                           <button type="button" onclick="checkLoginState()">เข้าสู่ระบบด้วย Facebook</button>
                           <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                             </div>-->
            <div id="button">
                <div class="unauthenticated">
                    <button><a href="/login">เข้าสู่ระบบด้วย Facebook</a></button>
                </div>
                <div class="authenticated" style="display: none">
                    Logged in as: <span id="user"></span>
                    <div>
                        <button onclick="logout()" >Logout</button>
                    </div>
                </div>
                <script>
                    window.fbAsyncInit = function () {
                        FB.init({
                            appId: '565391990574644',
                            cookie: true,
                            xfbml: true,
                            version: 'v3.2'
                        });

                        FB.AppEvents.logPageView();

                    };

                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) {
                            return;
                        }
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                </body>
                </html>