<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="css/cartCss.css">

    </head>

    <body>
        <div class="icon-bar">
            <ul>
                <li><img src="images/user.png" id="topimage1"> </li>
                <li><img src="images/shopcart.png" id="topimage1"></li>
                <li id="topimage2">
                    <font size="5"><b>" Shalala "</b></font>
                </li>
            </ul>
        </div>

        <main class="container">
            <div class="left-column">
                <img src="images/product1.jpg" id="product">
            </div>
            <div class="right-column">
                <div class="product-description">
                    <span>Headphones</span>
                    <h1>Beats EP</h1>
                    <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high
                        isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
                </div>
                <h3>Color</h3>
                <svg height="100" width="100" onclick="test()">
                <circle cx="50" cy="50" r="40" stroke="black" stroke-width="0" fill="red" />
                </svg>
                <svg height="100" width="100">
                <circle cx="50" cy="50" r="40" stroke="black" stroke-width="0" fill="blue" />
                </svg>
                <svg height="100" width="100">
                <circle cx="50" cy="50" r="40" stroke="black" stroke-width="0" fill="green" />
                </svg>
                <select>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <p><button id="checkout">Add to cart</button></p>
                <p><button id="checkout">Buy now</button></p>
            </div>

            <script>

                function test() {
                    document.getElementById("product").src = "images/product2.jpeg";
                }




            </script>



        </main>


    </body>

</html>