<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="shipping-css.css">
</head>

<body>
        <title>Shipping</title>
        </head>

        <body>
                <form>
                        <input type="text" id="search" placeholder="Search..">
                </form>
                <h1>Shalala</h1>
                <hr>
                <p1><b>Shipping</b></p1>
                <br><br>
                <p2>Enter your Address</p2>
                <br><br>
                <table style="width:55%">
                        <tr>
                                <th>
                                        <p2>Name</p2>
                                </th>
                                <th><input type="text1" name="Name" placeholder="Your Name..."><br></th>
                        </tr>
                        <tr>
                                <th>
                                        <p2>Address</p2>
                                </th>
                                <th><input type="text2" name="Address" placeholder="Your Address..."><br></th>
                        </tr>
                        <tr>
                                <th>
                                        <p2>Province</p2>
                                </th>
                                <th><select id="country" name="country">
                                                <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
                                                <option value="เชียงใหม่">เชียงใหม่</option>
                                                <option value="ภูเก็ต">ภูเก็ต</option>
                                        </select>
                                </th>
                        </tr>
                        <tr>
                                <th>
                                        <p2>Zip Code</p2>
                                </th>
                                <th><input type="text1" name="Zipcode" placeholder="Zip Code..."><br></th>
                        </tr>
                </table>
                <br>
                <hr>
                <br>
                <p2>Select Shipping Method</p2><br><br>
                <form id="payment">
                        <input type="radio" name="payment" value="Kerry" checked>Kerry <br><br>
                        <input type="radio" name="payment" value="Local Post">Local Post<br>

                </form>
                <br>
                
                <div>
                        <p1>Item : </p1>
                        <br>
                        <p1>Delivery : </p1>

                </div>
                <hr>
                <div>
                                <p1>Total : </p1><br>
                        </div>
                <input type="submit" value="Continue">

        </body>

</html>